.rating {
    display: flex;
    margin-bottom: 10px;
}

.rating > div {
    width: 33.33333%;
}

.fill {
    background: #ddd;
}

.rating .fill {
    margin-right: 10px;
}

div.bg {
    height: 100%;
    display: inline-block;
    background: yellow;
    width: 68%;
}

