@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a222f;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5px;
}

/* Cards */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.navigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.navigation button {
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: #fff;
    transition: all 0.2s;
}

.navigation button:hover {
    background: #fff;
    color: #000;
}
.navigation button[disabled] {
    color: #fff;
    background: rgba(28, 27, 27, 0.84);
    cursor: auto;
}


.container form {
    margin-top: 50px;
}

form .row {
    margin-bottom: 20px;
}

form .row input {
    font-size: 1rem;
    outline: none;
    width: 100%;
    padding: 10px;
}


@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
